# Arquivos de banco de dados
*.sqlite3

# Arquivos de mídia
/media/

# Arquivos estáticos compilados
/staticfiles/

# Arquivo de ambiente
.env

# Byte-compiled files
__pycache__/
*.pyc

# Arquivos de log
*.log

# Arquivos de configuração específicos do seu ambiente local (por exemplo, .vscode/, .idea/, etc.)
.vscode/
.idea/

# Arquivos de dependência e diretórios de dependência
/venv/
/pip/
