/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo para o título */
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Estilo para a lista */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilo para os itens da lista */
li {
    margin-bottom: 10px;
}

/* Estilo para o link */
a {
    text-decoration: none;
    color: #007bff;
}

/* Estilo para o link quando hover */
a:hover {
    text-decoration: underline;
}
