 /* Estilo para o corpo da página */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo para o título */
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Estilo para o formulário */
form {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos do formulário */
input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão de cadastrar */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o botão de cadastrar quando hover */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para as mensagens de erro */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-danger {
    color: #721c24; /* Cor do texto */
    background-color: #f8d7da; /* Vermelho claro */
    border: 1px solid #f5c6cb;
}