body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

strong {
    font-weight: bold;
}

a {
    display: inline-block;
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #049e04;
    color: #fff;
}

.button.edit {
    background-color: #007bff;
}

.button.delete {
    background-color: #dc3545;
}

.icon {
    margin-right: 5px;
}